<div style="margin-left: 20%; margin-right: 20%; background-color: #a1d1e0;">
<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</div>