.align{
    float: right;
    margin-top: -45px;
}
.page{
    margin-top:0px;
}
.navbars{
    margin-left: 15%; margin-right: 15%; background-color: AZURE;
}
.copy{
    margin-left: 300px;
    padding-bottom: 10px;
}
.footer{
    background-color: #719192;
}
.header{
    background-color: #b1e8ed;
}